<h2>設定</h2>

<section class="profile-section">
  <h3>プロフィール設定</h3>
  <%= form_with model: resource, url: user_registration_path, method: :put, local: true do |f| %>
    <%= render "devise/shared/error_messages" %>

    <div class="field">
      <% if resource.persisted? && resource.avatar.attached? %>
        <%= image_tag resource.avatar.variant(resize_to_limit: [100, 100]), class: "avatar-preview" %><br>
      <% else %>
        <%= image_tag 'default-avatar.png', class: "avatar-preview" %><br>
      <% end %>
        <%= f.label :avatar %><br />
        <%= f.file_field :avatar, autofocus: true %>
    </div>

    <div class="field">
      <%= f.label :name %><br />
      <%= f.text_field :name, autofocus: true %>
    </div>

    <div class="actions">
      <%= f.submit "プロフィールを更新" %>
    </div>
  <% end %>
</section>

<hr>

<section class="account-section">
  <h3>アカウント設定（メール・パスワード）</h3>
  <%= form_with  model: resource, url: user_registration_path, method: :put, local: true do |f| %>
    <div class="field">
      <%= f.label :email %><br />
      <%= f.email_field :email %>
    </div>

    <div class="field">
      <%= f.label :password %> <i>(変更したくない場合は空白のまま)</i><br />
      <%= f.password_field :password, autocomplete: "new-password" %>
    </div>

    <div class="field">
      <%= f.label :current_password %> <i>(変更には現在のパスワードが必要です)</i><br />
      <%= f.password_field :current_password, autocomplete: "current-password" %>
    </div>

    <div class="actions">
      <%= f.submit "アカウント情報を更新" %>
    </div>
  <% end %>
</section>
