<%= render "devise/shared/links" %>

<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6 col-lg-5">
      
      <div class="card shadow-sm border-0">
        <div class="card-body p-4">
          
          <h2 class="text-center mb-4 fw-bold">パスワードの変更</h2>

          <%= form_with model: resource, scope: resource_name, url: password_path(resource_name), method: :put, local: true do |f| %>
            <%= render "devise/shared/error_messages", resource: resource %>
            <%= f.hidden_field :reset_password_token %>

            <%# ▼ 変更パスワード ▼ %>
            <div class="mb-3">
              <%= f.label :password, "変更パスワード", class: "form-label" %>
              <% if @minimum_password_length %>
                <p><em>(<%= @minimum_password_length %> characters minimum)</em></p>
              <% end %>
              <%= f.password_field :password, autofocus: true, autocomplete: "new-password", class: "form-control", placeholder: "change your password" %>
              <% if resource.errors.include?(:password) %>
                <div style="color: red;" class="mt-3"><%= resource.errors.full_messages_for(:password).first %></div>
              <% end %>
            </div>
            
            <%# ▼ 確認パスワード ▼ %>
            <div class="mb-3">
              <%= f.label :password_confirmation, "変更後の確認パスワード", class: "form-label" %>
              <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control", placeholder: "confirm password" %>
              <% if resource.errors.include?(:password_confirmation) %>
                <div style="color: red;" class="mt-3"><%= resource.errors.full_messages_for(:password_confirmation).first %></div>
              <% end %>
            </div>

            <%# ▼ 設定ボタン ▼ %>
            <div class="d-grid gap-2 mt-4">
              <%= f.submit "パスワードを再登録する", class: "btn btn-primary" %>
            </div>
          <% end %>

          <%# ▼ その他のリンク（パスワード忘れ、登録など） ▼ %>
          <div class="mt-4 text-center">
            <%= render "devise/shared/links" %>
          </div>

        </div>
      </div>
